<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test name="Verify Member Care Staff Assigned (Edge)">
		<parameter
			name="browserName" value="edge" />
		<parameter name="author"
			value="Dayanzi" />
		<classes>
			<class
				name="assignCareMember.MemberDataCapture">
				<methods>
					<include name="memberData"
					/>
				</methods>
			</class>
		</classes>
	</test>

<!--	<test name="Verify Member Care Staff Assigned (Chrome)">
		<parameter
			name="browserName" value="chrome" />
		<parameter name="author"
			value="Dayanzi" />
		<classes>
			<class
				name="assignCareMember.MemberDataCapture">
				<methods>
					<include
						name="memberData"
					/>
				</methods>
			</class>
		</classes>
	</test>-->

</suite> 

